
  @media (max-width: 896px) {
    .fav_card {
        width: 312px;
        height: 200px;
    }
    #fav_add_colors {
        flex-wrap: wrap;
        overflow: scroll;
        height: auto;
        max-height: 500px;
    }

  }


/* toater */
#toast{
    display: none;
    position: absolute;
    top: 25px;
    left: 49%;
    padding: 10px;
    font-size: 11px;
    border-radius: 3px;
    background: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: black;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#toast.show-toast{
  display: inline-block;
}

.show-toast{
  animation: showToast 0.3s ease-out;
}

.hide-toast{
  animation: hideToast 0.3s ease-in;
}

@keyframes showToast{
  from{
    top: 170px;
    opacity: 0;
  } to {
    top: 100px;
    opacity: 1;
  }
}

@keyframes hideToast{
  from{
    top: 100px;    
    opacity: 1;
  } to {
    top: 20px;
    opacity: 0;
  }
}